com.palisand.bones.meta.Model>
name:	Schema
packageName:	com.palisand.bones.test
entities:
-	Entity>
	name:	Field
	members:
	-	Attribute>
		name:	name
	-	Attribute>
		name:	nullable
		type:	BOOLEAN
	-	Attribute>
		name:	type
		type:	ENUM
		enumType:	#/enumTypes/DataType
	entityContainer:	#/entities/Table/members/fields
	idAttribute:	members/name
-	Entity>
	name:	Key
	members:
	-	Attribute>
		name:	name
	-	ReferenceRole>
		name:	fields
		multiple:	true
		pointerPattern:	../fields/.*
		entity:	#/entities/Field
	specialisations:
	-	#/entities/ForeignKey
	-	#/entities/PrimaryKey
	abstractEntity:	true
	idAttribute:	members/name
-	Entity>
	name:	Table
	members:
	-	ContainerRole>
		name:	keys
		entity:	#/entities/ForeignKey
	-	ContainerRole>
		name:	fields
		entity:	#/entities/Field
	-	Attribute>
		name:	name
	-	ContainerRole>
		name:	primaryKey
		entity:	#/entities/PrimaryKey
		multiple:	false
	entityContainer:	#/entities/Schema/members/tables
	idAttribute:	members/name
-	Entity>
	name:	ForeignKey
	members:
	-	Attribute>
		name:	unique
		type:	BOOLEAN
		defaultValue:	false
	entityContainer:	#/entities/Table/members/keys
	superEntity:	#/entities/Key
-	Entity>
	name:	PrimaryKey
	entityContainer:	#/entities/Table/members/primaryKey
	superEntity:	#/entities/Key
-	Entity>
	name:	Schema
	members:
	-	Attribute>
		name:	name
	-	ContainerRole>
		name:	tables
		entity:	#/entities/Table
	-	Attribute>
		name:	info
		multiple:	true
	idAttribute:	members/name
enumTypes:
-	EnumType>
	name:	DataType
	values:
	-	STRING
	-	INTEGER
	-	BOOLEAN
	-	FLOAT
