com.palisand.bones.meta.MetaModel>
name:	Schema
packageName:	com.palisand.bones.test
entities:
-	Entity>
	entityContainer:	#/entities/Table/members/fields
	idAttribute:	members/name
	members:
	-	Attribute>
		name:	name
	-	Attribute>
		name:	nullable
		type:	BOOLEAN
	-	Attribute>
		name:	type
		type:	ENUM
		enumType:	#/enumTypes/DataType
	-	ReferenceRole>
		multiple:	true
		name:	inForeignKeys
		entity:	#/entities/ForeignKey
		opposite:	#/entities/ForeignKey/members/fields
		pointerPattern:	../keys/.*
	-	ReferenceRole>
		multiple:	true
		name:	inPrimaryKeys
		entity:	#/entities/PrimaryKey
		opposite:	#/entities/PrimaryKey/members/fields
		pointerPattern:	../primaryKey/.*
	name:	Field
	referencedFrom:
	-	#/entities/ForeignKey/members/fields
	-	#/entities/PrimaryKey/members/fields
-	Entity>
	idAttribute:	members/name
	abstractEntity:	true
	specialisations:
	-	#/entities/ForeignKey
	-	#/entities/PrimaryKey
	members:
	-	Attribute>
		name:	name
	name:	Key
-	Entity>
	entityContainer:	#/entities/Schema/members/tables
	idAttribute:	members/name
	members:
	-	Attribute>
		name:	name
		casing:	SNAKE_CASE
	-	Attribute>
		name:	description
		multiLine:	true
	-	ContainerRole>
		name:	fields
		entity:	#/entities/Field
		notEmpty:	true
	-	ContainerRole>
		multiple:	false
		name:	primaryKey
		entity:	#/entities/PrimaryKey
		multiple:	false
	-	ContainerRole>
		name:	keys
		entity:	#/entities/ForeignKey
	name:	Table
-	Entity>
	entityContainer:	#/entities/Table/members/keys
	superEntity:	#/entities/Key
	members:
	-	Attribute>
		name:	unique
		type:	BOOLEAN
		defaultValue:	false
	-	ReferenceRole>
		multiple:	true
		notNull:	true
		name:	fields
		entity:	#/entities/Field
		opposite:	#/entities/Field/members/inForeignKeys
		pointerPattern:	../fields/.*
		notEmpty:	true
	name:	ForeignKey
	referencedFrom:
	-	#/entities/Field/members/inForeignKeys
-	Entity>
	entityContainer:	#/entities/Table/members/primaryKey
	superEntity:	#/entities/Key
	members:
	-	ReferenceRole>
		multiple:	true
		notNull:	true
		name:	fields
		entity:	#/entities/Field
		opposite:	#/entities/Field/members/inPrimaryKeys
		pointerPattern:	../fields/.*
		notEmpty:	true
	name:	PrimaryKey
	referencedFrom:
	-	#/entities/Field/members/inPrimaryKeys
-	Entity>
	idAttribute:	members/name
	members:
	-	Attribute>
		name:	name
	-	ContainerRole>
		name:	tables
		entity:	#/entities/Table
		notEmpty:	true
	-	Attribute>
		multiple:	true
		name:	info
	name:	Schema
enumTypes:
-	EnumType>
	values:
	-	STRING
	-	INTEGER
	-	BOOLEAN
	-	FLOAT
	name:	DataType
